html,
body {
  margin: 0%;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
table,
tr,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
  width: 40%;
}
table {
  margin-top: 5%;
  margin-left: 5%;
}
.main_body {
  height: 100%;
  width: 76%;
  float: left;
  border: 1px solid black;
}
.right_side {
  float: left;
}
h2 {
  margin-left: 5%;
}
.left_account {
  padding-left: 10px;
}
